.message-log {
  font-family: "Courier New", sans-serif;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  color: #4aff1d;
  background-color: #000;
  border-top: 1px solid #fff;
  padding: 5px 20px 20px 20px;
  text-align: left; }
  .message-log h2 {
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: underline; }
