.board {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-radius: 6px;
  background-color: #eee;
  display: flex;
  flex-direction: column; }

.board__row {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex: 1; }

.board__tile {
  flex: 1;
  height: 100%;
  border: 1px solid #999;
  color: #aaa; }

.rob {
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: 10px;
  margin-top: -45px;
  margin-left: 25px;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #444;
  border-right: 15px solid transparent;
  transition: transform 0.4s ease-in-out, top 0.6s ease-in-out, left 0.6s ease-in-out; }
  .rob.hidden {
    display: none; }
  .rob.E {
    transform: rotate(90deg); }
  .rob.S {
    transform: rotate(180deg); }
  .rob.W {
    transform: rotate(270deg); }
