body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff; }

h1 {
  font-size: 16px;
  margin: 0; }

.App {
  max-width: 600px;
  background-color: #6d7a69;
  margin: 0 auto; }

.App-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }
