@import './styles/variables.scss';

// Common styles are placed here, component specific styles are places in the components folders


.App {
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


