@import './styles/variables.scss';

// Common styles are placed here, component specific styles are places in the components folders


.App {
  max-width: 1400px;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.message-log {
  font-family: "Courier New", sans-serif;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  color: #4aff1d;
  background-color: #000;
  border-top: 1px solid #fff;
  padding: 5px 20px 20px 20px;
  text-align: left;
  h2 {
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
}

